<%- if @completed_questions.present? -%>
  <div class="done-questions">
    <div class="start-again"><%= link_to 'Start again', start_path %></div>
    <ol>
      <%- @completed_questions.each_with_index do |question_details, index| -%>
        <li class="done">
          <h3 class="question">
            <span class="question-number"><%= index + 1 %></span><%= question_details[0] %>
          </h3>
          <div class="answer">
            <ul>
              <% question_details[1].each do |answer| %>
                <li><%= answer.to_s %></li>
              <% end %>
            </ul>
          </div>
          <p class="undo"><%= link_to 'Change this answer', change_answer_url(question_details[2]) %></p>
        </li>
      <%- end -%>
    </ol>
  </div>
<%- end -%>
