<%= render :partial => 'completed_questions' %>
<%= javascript_include_tag 'licence-finder', defer: true %>
<%= current_question do %>
  <%= form_tag activities_path do %>
    <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <div class="business-activity-results">
      <p class="hint">Add all the categories that apply to you</p>
      <ul class="search-picker">
        <% (@activities - @picked_activities).each do |activity| %>
          <li>
            <span class="activity-name"><%= activity.name %></span>
            <%= link_to_add activity %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="business-activity-picked" aria-live="polite">
      <h3>Your chosen categories</h3>
      <% if @picked_activities.empty? %>
        <p class="hint">Your chosen categories will appear here</p>
      <% else %>
        <ul>
        <% @picked_activities.each do |activity| %>
          <li>
            <%=  hidden_field_tag 'activity_ids[]', activity.public_id %>
            <span class="activity-name"><%= activity.name %></span>
            <%= link_to_remove activity %>
          </li>
        <% end %>
        </ul>
        <%= submit_tag 'Next step', :class => "button medium" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'upcoming_questions' %>
