<% content_for :page_title, "What would you like to do? | Licence Finder" %>

<%= render :partial => 'completed_questions' %>
<%= current_question do %>
  <div class="search-container">
    <div class="business-activity-results search-picker">
      <p class="hint">Add all the activities that apply to you:</p>
      <% if (@activities).empty? %>
        <p>No activities</p>
      <% else %>
        <ul>
          <% (@activities).each do |activity| %>
            <% if @picked_activities.include?(activity) %>
              <%= link_selected activity %>
            <% else %>
              <%= link_to_add activity %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="business-activity-picked picked-items" aria-live="polite" data-next-url="<%= business_location_path(sectors: params[:sectors], activities: params[:activities]) %>">
    <h3>Your chosen activities</h3>
    <p class="<% if @picked_activities.empty? %>hint<% else %>hidden<% end %>">Your chosen activities will appear here</p>
    <ul id="picked-business-activities">
      <% @picked_activities.each do |activity| %>
        <%= basket_link activity %>
      <% end %>
    </ul>
    <% unless @picked_activities.empty? %>
      <div class="button-container">
        <%= link_to 'Next step', business_location_path(sectors: params[:sectors], activities: params[:activities]), class: 'button medium', id: "next-step"  %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'upcoming_questions' %>
