<%= render :partial => 'completed_questions' %>

<%= current_question do %>
  <%= form_tag activities_path do %>
    <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <ul id="activities">
      <% @activities.each do |activity| %>
        <li>
          <%= check_box_tag 'activity_ids[]', activity.public_id, false, :id => "sector_#{activity.public_id}" %>
          <%= label_tag "sector_#{activity.public_id}", activity.name %>
        </li>
      <% end %>
    </ul>
    <%= submit_tag 'Next step' %>
  <% end %>
<% end %>

<%= render :partial => 'upcoming_questions' %>
