<div class="done-questions">
  <div class="start-again"><%= link_to 'Start again', start_path %></div>
  <ol>
    <li class="done">
      <h3 class="question">
        <span class="question-number">1</span>
        What kind of activities or business do you need a licence for?
      </h3>
      <div class="answer">
        <ul>
          <% @sectors.each do |sector| %>
            <li><%= sector.name %></li>
          <% end %>
        </ul>
      </div>
      <p class="undo"><%= link_to 'Change this answer', '#' %></p>
    </li>
    <li class="done">
      <h3 class="question">
        <span class="question-number">2</span>
        What will your activities or business involve doing?
      </h3>
      <div class="answer">
        <ul>
          <% @activities.each do |activity| %>
            <li><%= activity.name %></li>
          <% end %>
        </ul>
      </div>
      <p class="undo"><%= link_to 'Change this answer', '#' %></p>
    </li>
  </ol>
</div>

<div class="step current">
  <div class="current-question group">
    <h2>
      <span class="question-number">3</span>
      Where will your activities or business be located?
    </h2>
    <%= form_tag business_location_path do %>
      <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(controller.class::SEPARATOR)) %>
      <%= hidden_field_tag(:activities, @activities.map(&:public_id).join(controller.class::SEPARATOR)) %>
      <%= select_tag(:location, options_for_select([['Select one...', ''], %w(England england), %w(Scotland scotland), %w(Wales wales), ['Northern Ireland', 'northern_ireland']])) %>
      <%= submit_tag 'Set location' %>
    <% end %>
  </div>
</div>
