<% content_for :page_title, "Where will you be located? - Licence Finder" %>

<%= render partial: 'completed_questions' %>

<%= current_question do %>
  <%= form_tag business_location_path do %>
    <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <%= hidden_field_tag(:activities, @activities.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <div class="find-location-for-service">
      <label for="select-location">Select a location
        <%= select_tag(:location, options_for_select([['Select one...', ''], %w(England england), %w(Scotland scotland), %w(Wales wales), ['Northern Ireland', 'northern_ireland']]), :id => "select-location") %></label>
    </div>
    <%= render "govuk_publishing_components/components/button", {
        text: "Find licences",
      } %>
  <% end %>
<% end %>
