<% content_for :page_title, "Where will you be located? - Licence Finder" %>

<%= render partial: 'completed_questions' %>

<%= current_question do %>
  <%= form_tag business_location_path do %>
    <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <%= hidden_field_tag(:activities, @activities.map(&:public_id).join(controller.class::SEPARATOR)) %>
    <div class="find-location-for-service">

    <%= render "govuk_publishing_components/components/select", {
      id: "select-location",
      label: "Select a location",
      name: "location",
      options: [
        {
          text: "Select one...",
          value: ""
        },
        {
          text: "England",
          value: "england"
        },
        {
          text: "Scotland",
          value: "scotland"
        },
        {
          text: "Wales",
          value: "wales"
        },
        {
          text: "Northern Ireland",
          value: "northern_ireland"
        },
      ]
    } %>


    </div>
    <%= render "govuk_publishing_components/components/button", {
        text: "Find licences",
      } %>
  <% end %>
<% end %>
