<h3>Selected sectors:</h3>
<ul>
  <% @sectors.each do |sector| %>
    <li><%= sector.name %></li>
  <% end %>
</ul>

<h3>Selected activities:</h3>
<ul>
  <% @activities.each do |activity| %>
    <li><%= activity.name %></li>
  <% end %>
</ul>

<h3>Location:</h3>
<%= form_tag location_path do %>
  <%= hidden_field_tag(:sectors, @sectors.map(&:public_id).join(',')) %>
  <%= hidden_field_tag(:activities, @activities.map(&:public_id).join(',')) %>
  <%= select_tag(:location, options_for_select([['Select one...', ''], %w(England england), %w(Scotland scotland), %w(Wales wales), ['Northern Ireland', 'northern_ireland']])) %>
  <%= submit_tag 'Set location' %>
<% end %>