<%= javascript_include_tag 'licence-finder', defer: true %>
<%= current_question do %>
  <%= form_tag sectors_path do %>
    <div class="business-sector-results">
      <p class="hint">Add all the sectors that apply to you</p>
        <ul class="search-picker">
          <% (@sectors - @picked_sectors).each do |sector| %>
            <li>
              <span class="sector-name"><%= sector.name %></span>
              <%= link_to_add sector %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="business-sector-picked">
      <h3>Find licences for</h3>
      <% if @picked_sectors.empty? %>
        <p class="hint">Your chosen categories will appear here</p>
      <% else %>
        <ul>
        <% @picked_sectors.each do |sector| %>
          <li>
            <%= hidden_field_tag 'sector_ids[]', sector.public_id %>
            <span class="sector-name" ><%= sector.name %></span>
            <%= link_to_remove sector %>
          </li>
        <% end %>
<<<<<<< Updated upstream
        </ul>
        <%= submit_tag 'Next step', :class => 'button medium' %>
=======
      </ul>
      <%= link_to "Search for more", {sectors: params[:sectors]}, {class: "button"} %>
  </div>
  <% end %>
  <%= form_tag sectors_path do %>
  <div class="business-sector-picked" aria-live="polite">
    <h3>Your chosen sectors</h3>
    <% if @picked_sectors.empty? %>
      <p class="hint">Your chosen sectors will appear here</p>
    <% else %>
      <ul>
      <% @picked_sectors.each do |sector| %>
        <li>
          <%= hidden_field_tag 'sector_ids[]', sector.public_id %>
          <span class="sector-name" ><%= sector.name %></span>
          <%= link_to_remove sector %>
        </li>
>>>>>>> Stashed changes
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'upcoming_questions' %>
