
<%= current_question do %>
  <%= form_tag sectors_path do %>
    <div class="business-sector-results">
      <p class="hint">Add all the sectors that apply to you</p>
        <ul class="search-picker">
          <% (@sectors - @picked_sectors).each do |sector| %>
            <li>
              <span class="sector-name"><%= sector.name %></span>
              <%= link_to_add sector %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="business-sector-picked">
      <h3>Find licences for</h3>
      <% if @picked_sectors.empty? %>
        <p class="hint">Your chosen categories will appear here</p>
      <% else %>
        <ul>
        <% @picked_sectors.each do |sector| %>
          <li>
            <%= hidden_field_tag 'sector_ids[]', sector.public_id %>
            <span class="sector-name" ><%= sector.name %></span>
            <%= link_to_remove sector %>
          </li>
        <% end %>
        </ul>
        <%= submit_tag 'Next step', :class => 'button medium' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'upcoming_questions' %>
