<% content_for :page_title, "What is your activity or business? - Licence Finder" %>

<%= current_question do %>
  <div class="search-container" role="search">
    <%= form_tag sectors_path, method: :get do %>
      <%= hidden_field_tag "sectors", params[:sectors], id: "hidden-sectors" %>
      <label class="visuallyhidden" for="search-sectors">Search for areas</label>
      <%= text_field_tag "q", params[:q], id: "search-sectors" %>
      <%= button_tag params[:q].present? ? "Search again" : "Search", class: "button", id: "search-button" %>
    <% end %>

    <% if !@sectors.empty? %>
      <div class="search-results search-picker">
        <h3 class="visuallyhidden">Search results for "<%= params[:q] %>"</h3>
        <p class="hint">Add all the areas that apply to you:</p>
        <ul>
          <% (@sectors).each do |sector| %>
            <% if @picked_sectors.include?(sector) %>
              <%= link_selected sector %>
            <% else %>
              <%= link_to_add sector %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% elsif params[:q].present? %>
      <p>No results found for "<%= params[:q] %>"</p>
    <% end %>
  </div>

  <div class="browse-container">
    <div class="inner">
      <p class="or-browse">Or <%= link_to "choose your area of interest", browse_sector_index_path, {id: "browse-sectors", class: "govuk-link"} %>.</p>
    </div>
  </div>

  <div class="business-sector-picked picked-items" aria-live="polite">
    <h3>Your chosen areas of interest</h3>
    <p class="<% if @picked_sectors.empty? %>hint<% else %>hidden<% end %>">Your chosen areas will appear here</p>
    <ul id="picked-business-sectors">
      <% @picked_sectors.each do |sector| %>
        <%= basket_link sector %>
      <% end %>
    </ul>
    <% unless @picked_sectors.empty? %>
      <div class="button-container">
        <%= link_to 'Next step', activities_path(sectors: params[:sectors]), class: 'button medium', id: "next-step"  %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'upcoming_questions' %>
