<%= javascript_include_tag 'licence-finder', defer: true %>
<%= current_question do %>

  <% if @sectors.empty? %>
    <div class="search-container">
      <%= form_tag sectors_path, method: :get do %>
        <%= hidden_field_tag "sectors", params[:sectors], id: "hidden-sectors" %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag 'Search', class: "button", id: "search-button" %>
        <% if params[:q].present? %>
        <p>No results</p>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="business-sector-results search-picker">
      <p class="hint">Add all the sectors that apply to you</p>
      <ul>
        <% (@sectors - @picked_sectors).each do |sector| %>
          <li data-public-id="<%= sector.public_id %>">
            <span class="sector-name"><%= sector.name %></span>
            <%= link_to_add sector %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Search for more", {sectors: params[:sectors]}, {class: "button", id:"search-again-button"} %>
    </div>
  <% end %>
  <div class="business-sector-picked picked-items" aria-live="polite">
    <h3>Your chosen sectors</h3>
    <p class="<% if @picked_sectors.empty? %>hint<% else %>hidden<% end %>">Your chosen sectors will appear here</p>
    <ul id="picked-business-sectors">
      <% @picked_sectors.each do |sector| %>
        <li data-public-id="<%= sector.public_id %>">
          <span class="sector-name" ><%= sector.name %></span>
          <%= link_to_remove sector %>
        </li>
      <% end %>
    </ul>
    <% unless @picked_sectors.empty? %>
      <%= link_to 'Next step', activities_path(sectors: params[:sectors]), class: 'button medium', id: "next-step"  %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'upcoming_questions' %>
