<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="answer licence-finder">
      <section id="content">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
