<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Licence Finder" %> - GOV.UK</title>
    <meta name="description" content="Find out which licences you might need for your activity or business.">
    <%= stylesheet_link_tag "licence-finder" %>
    <%= javascript_include_tag 'licence-finder', defer: true %>
    <%= yield :head %>
    <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
  </head>
  <body class="mainstream">
    <div id="wrapper" class="answer licence-finder <%= yield :page_class %>">
      <%= render partial: 'govuk_component/breadcrumbs', locals: @navigation_helpers.breadcrumbs %>
      <% unless @sectors %><div class="grid-row"><% end %>

        <main id="content" role="main">
          <header class="page-header group">
            <div>
              <h1>Licence finder</h1>
            </div>
          </header>
          <%= yield %>
        </main>

      <% unless @sectors %>
        <div class="related-container">
          <%= render partial: 'govuk_component/related_items', locals: @navigation_helpers.related_items %>
        </div>
      </div>
      <% end %>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
