<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Licence Finder" %> | GOV.UK</title>
    <meta name="description" content="Find out which licences you might need for your activity or business.">
    <%= stylesheet_link_tag "licence-finder" %>
    <%= javascript_include_tag 'licence-finder', defer: true %>
    <meta name="x-section-name" content="Business" />
    <meta name="x-section-link" content="/browse/business" />
    <meta name="x-section-format" content="licence_finder" />
    <%= yield :head %>
  </head>
  <%# The citizen class is going to be deprecated, to be replaced with mainstream. %>
  <%# Added the mainstream class in preparation for the change. %>
  <body class="citizen mainstream">
    <div id="wrapper" class="answer licence-finder <%= yield :page_class %>">
      <section id="content">
        <header class="page-header group">
          <hgroup>
            <h1><span>Quick answer</span> Licence finder</h1>
          </hgroup>
        </header>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
