<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Licence Finder" %> - GOV.UK</title>
    <meta name="description" content="Find out which licences you might need for your activity or business.">
    <meta name="robots" content="noindex">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print.css", :media => "print" %>
    <%= javascript_include_tag 'application', defer: true %>
    <%= yield :head %>
    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
  </head>
  <body class="mainstream">
    <div id="wrapper" class="answer licence-finder <%= yield :page_class %>">
      <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>

      <main id="content" role="main">
        <header class="page-header group">
          <div>
            <h1>Licence finder</h1>
          </div>
        </header>
        <%= yield %>
      </main>

      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
