<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Licence Finder" %>| GOV.UK</title>
    <meta name="description" content="<%= content_for?(:page_description) ? yield(:page_description) : "Licence Finder helps UK citizens find and apply for licences of all types." %>">
    <%= stylesheet_link_tag "licence-finder" %>
    <%= javascript_include_tag 'licence-finder', defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="answer licence-finder <%= yield :page_class %>">
      <section id="content">
        <header class="page-header group">
          <hgroup>
            <h1><span>Quick answer</span> Licence finder</h1>
          </hgroup>
        </header>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
